#*
Copyright (c) 2011 Karlsruhe Institute of Technology (KIT) - Institute for 
Applied Computer Science (IAI). 

This file is part of soda4LCA - the Service-Oriented Life Cycle Data Store.

soda4LCA is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by the 
Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

soda4LCA is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with soda4LCA.  If not, see <http://www.gnu.org/licenses/>.
*#
<common:uuid>$dataset.getUuidAsString()</common:uuid>
<common:permanentUri>$!dataset.getPermanentUri()</common:permanentUri>
#if($dataset.getDataSetVersion())<common:dataSetVersion>$dataset.getDataSetVersion()</common:dataSetVersion>#end
<common:name>$escape.xml($dataset.getName().getValue())</common:name>
#if($dataset.getShortName().getValue())<common:shortName>$escape.xml($dataset.getShortName().getValue())</common:shortName>#end
#if($dataset.getClassification() && $dataset.getClassification().getClasses().size() > 0)
<common:classification>
    #foreach ($datasetClass in $dataset.getClassification().getClasses())
        <common:class level="$datasetClass.getLevel()">$datasetClass.getName()</common:class>
    #end
</common:classification>
#end