#*
Copyright (c) 2011 Karlsruhe Institute of Technology (KIT) - Institute for 
Applied Computer Science (IAI). 

This file is part of soda4LCA - the Service-Oriented Life Cycle Data Store.

soda4LCA is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by the 
Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

soda4LCA is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with soda4LCA.  If not, see <http://www.gnu.org/licenses/>.
*#<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
#set($source=$dataset) ## common implementation is now sending dataset in context, not the other way around
<source xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:common="http://www.ilcd-network.org/ILCD/ServiceAPI" xmlns="http://www.ilcd-network.org/ILCD/ServiceAPI/Source" xlink:href="$context.getBaseUri()sources/$source.getUuidAsString()" common:sourceId="$source.getSourceId()">
    #parse("/xml/common.vm")
    #if($source.getDescription().getValue())<common:generalComment>$escape.xml($source.getDescription().getValue())</common:generalComment>#end
    #if($source.getCitation().getValue())<citation>$escape.xml($source.getCitation().getValue())</citation>#end
    #if($source.getPublicationType())<publicationType>$source.getPublicationType().getValue()</publicationType>#end
    #foreach($fileRef in $source.getFileReferences())
        #set($fileName=$fileRef.getShortDescription().getValue())
        #set($fileUrl="$context.getBaseUri()sources/$source.getUuidAsString()/$escape.xml($fileName)")
        #if ($fileName.startsWith("http:"))
            #set($fileUrl=$escape.xml($fileName))
        #end
        <file type="other external file" xlink:href="$fileUrl">
            <common:shortDescription>$escape.xml($fileName)</common:shortDescription>
        </file>
    #end
    #foreach($contactRef in $source.getBelongsTo())
      #if ($contactRef && $contactRef.getRefObjectId())
        <belongsTo refObjectId="$contactRef.getRefObjectId()" type="contact data set" xlink:href="$context.getBaseUri()contacts/$contactRef.getRefObjectId()">
            <common:shortDescription>$contactRef.getShortDescription().getValue()</common:shortDescription>
        </belongsTo>
      #end
    #end
</source>
