<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">
<h2>ELCD core database version II</h2>

<p>
The ELCD core database comprises Life Cycle Inventory (LCI) data from front-running EU-level business associations and other sources for key materials, energy carriers, transport, and waste management. Focus is laid on data quality, consistency, and applicability. The respective data sets are officially provided and approved by the named industry association; some data sets are still under preparation and will be added subsequently. 
</p>
<p>
The target users of these data sets are experts/practitioners in Life Cycle Assessment (LCA). The data sets are accessible free of charge and without access or use restrictions for all LCA practitioners. The ELCD II includes data sets that have not been published beforehand and data sets that were only collected for this purpose. The data sets of the ELCD database are foreseen to contribute key European data to the upcoming international ILCD Data Network and in complementation of other data sources, i.e. not in competition.
</p>
<p>
<span style="color: red;">Disclaimer:</span> Please note that so far mostly only internally reviewed and only partly harmonised LCI data sets are provided in this second version of the ELCD core database. All process data sets are in line with ISO 14040 and 14044 as stated by their owners/providers, but are not to be considered as official reference data sets of the European Commission or its JRC. The data sets are provided "as they are". A further methodological harmonisation and independent external review are foreseen. Please also refer to the "Important legal notice" on top of this page. 
</p>
<h3>Bug-fixes / servicing</h3>
<p>
<b>25 May 2010:</b> Some errors in the ELCD II DB have been fixed and the database has been technically serviced. Note that the package also includes the bugfixes/servicings of the ILCD Reference Objects. For details follow these hyperlinks: 

<a href="pdf/ELCD_II_DB_bug-fix-and-servicing_report_of_25_May_2010.pdf">ELCD II bug-fix and servicing report</a> and 
<a href="pdf/ILCD_RefObjects_bug-fix-and-servicing_report_of_25_May_2010.pdf">ILCD Reference Object bugfix and servicing report</a>.
</p>
<p>
<b>13 October and 18 November 2009:</b> Some errors have been fixed in some of the data sets in the downloadable ELCD II database zip file (accessible from 26 June to 13 October 2009) and the files that are displayed in your web-browser when browsing the data sets online (via the menu entry "Browse and view"; accessible from 26 June to 18 November 2009). For details follow the hyperlink: <a href="pdf/ELCD_II_DB_bug-fix_report_of_13_October_2009.pdf">bug-fix report of 13 October 2009</a>.
</p>
<p></p>
<h3>Data access and use</h3>
<p>

This section allows to view and to download the high quality Life Cycle Inventory (LCI) core data sets of the "European Reference Life Cycle Database" (ELCD core database), version II. They have been compiled / advanced in context of a service contract on behalf of DG Environment and in technical and scientific support by JRC-IES from early 2008 to early 2009.
</p>
<p> 
In order to view the LCI data sets, please either choose from the "Browse and view" submenu, which you may find to the left, or use the "Search" form. 
</p>
<p>
<span style="color: red;">Please note, that the main purpose of the ELCD core database is the integration into LCA tools and databases and that hence the possibilities to "work" with this system with your web-browser and on your hard disk is necessarily limited.
</span></p>
<p>
You may download the ELCD core database as a complete zip package; this is accessible also via the "Browse and view" page. The option to download only single data sets is planned to be implemented at a later moment of time. 
</p>
<p>
You may use all these data sets free of charge in your work and also distribute them to third parties. For more details please refer to the copyright and license conditions, which will be provided when downloading the data sets and which can equally be accessed directly from here.
</p>
<h3>Import into LCA software / conversion to MS Excel</h3>
<p>

Import/export interfaces to mayor LCA tools for data sets of the ILCD Data Network and in the ILCD format are becoming available since end of 2009 onwards. The developers of the tools and databases BRE EnvPro DB, CMLCA, ecoinvent, EDIP, EIME, eVerdEE, DIM, GaBi, KCL-ECO, LCA Evaluator, LEGEP, MIPS, openLCA, Sabento, SimaPro, Sirii/SPINE, TEAM/DEAM, trainEE, and UMBERTO have in principle announced to make full import and export interfaces available free of cost to their customers. Please verify this with your tool developer or contact your tool / database developer for more information or in case your tool / database is not in the above list. If you are a developer of LCA databases or tools, please feel invited to contact us and also refer to the menu entry "Developer support".
</p>
<p> 
Conversion to Excel is supported by the ILCD2HTML conversion application, accessible via 
<a href="http://lct.jrc.ec.europa.eu/assessment/tools">http://lct.jrc.ec.europa.eu/assessment/tools</a>.
</p>
<h3>ILCD format developer package</h3>
<p>
The development, documentation and publication of LCI data sets (both unit process and LCI results) are supported by the ILCD data set format that also serves as common data exchange format for the ILCD Data Network; the ELCD database equally is made available in the ILCD format. An IT developer package of the ILCD format is accessible via <a href="http://lct.jrc.ec.europa.eu/assessment/tools">http://lct.jrc.ec.europa.eu/assessment/tools</a>).
</p>
<h3>Data set editor</h3>
<p>

The further developed Editor for ILCD formatted data sets allows the documentation and editing of LCA data sets. Further functions are under implementation. The current version is accessible via <a href="http://lct.jrc.ec.europa.eu/assessment/tools">http://lct.jrc.ec.europa.eu/assessment/tools</a>.
</p>
<h3>Nomenclature and reference elementary flow, flow property and unit group data sets</h3>
<p>
The ILCD "Nomenclature and other conventions" document supports naming of among others elementary flows and underlying data objects, but also guides process data naming. For a comprehensive set of Elementary flows, Flow properties and Unit groups it is implemented in form of the ILCD Reference Objects. These are downloadable as zip package with ILCD formatted files; the Elementary flows are also available as Excel file. Please check <a href="http://lct.jrc.ec.europa.eu/assessment/tools">http://lct.jrc.ec.europa.eu/assessment/tools</a>.
</p>
</ui:composition>