<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <p>Malaysia - Pangkalan Data Inventori Kitar Hayat ini merupakan hasil dari inisiatif Kerajaan Malaysia di bawah Rancangan 
        Malaysia ke 9 (RMk9; 2005-2010).  Pangkalan data kitar hayat ini dibangunkan dengan tujuan untuk menyokong program pelabelan hijau, 
        kajian penilaian kitar hayat, peningkatan rekaan yang mesra alam, pengistiharan atau komunikasi  alam sekitar dan pelbagai usaha 
        lain yang memerlukan komponen maklumat kitar hayat bagi pengurusan alam sekitar yang lebih mesra alam.
    </p>
    <p class="englishText">
        The Malaysia Life Cycle Inventory Database (MYLCID) is an output of the Ninth Malaysia Plan (9MP; 2005-2010) of the Government of 
        Malaysia.  This database of Life Cycle Inventory (LCI) datasets supports the ecolabelling programmes, life cycle assessment studies, 
        eco-design, environmental declaration communication and other environmental management initiatives that require life cycle inventory 
        information.
    </p>
    <p>MY-LCID ini adalah pangkalan data yang terhad.  Kemasukan ke sesawang ini tidak memerlukan sebarang pendaftaran untuk ke tahap 
        metadata iaitu maklumat penerangan secara am sahaja.
    </p>
    <p class="englishText">MYLCID is a restricted database.  Free public access is limited to the metadata level or the LCI results description only. 
    </p>
    <p>
        Maklumat yang lengkap bagi setiap data kitar hayat yang merangkumi  jadual data ‘input/output’  yang dikenakan bayaran  boleh diperolehi dengan menghubungi  alamat yang tertera di bawah. 
    </p>
    <p class="englishText">
        The complete LCI data set inclusive of input and output can be purchased by contacting the following address stated below:
        For any enquiries, please direct to:
    </p>
    <p>
        SIRIM Berhad<br/>
        Environmental Technology Research Centre<br/>
        1, Persiaran Dato’ Menteri<br/>
        Section 2 P. O. Box 7035<br/>
        40911 Shah Alam<br/>
        Malaysia<br/>
        Tel: +603 5544 6564, +603 5544 6569, +603 5544 6588<br/>
        Fax: +603 5544 6590<br/>
        Email: mylcid@sirim.my<br/>
    </p>
</ui:composition>